body {
    margin: 0;
    height: 100vh;
    background-color: #4C1D95;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Inter", sans-serif;
}

input, button {
    font-family: "Inter", sans-serif;
}

#app-container {
    width: 550px;
    /* height: 650px; */
    background-color: #F4F4F4;
}

#app-hero {
    height: 285px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #6943FF;
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#app-hero h1 {
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 30px;
}

#app-hero input {
    margin-bottom: 25px;
    text-align: center;
    padding: 7px;
    width: 120px;
    font-size: 58px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: white;
}

input:focus {
    outline: none;
}

#app-hero button {
    background-color: white;
    color: #3D3D3D;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 120px;
    font-weight: 500;
    padding: 10px;
}

#app-main {
    padding: 35px;
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

.info-box {
    text-align: center;
    background-color: white;
    width: 500px;
}

.info-box h2 {
    font-size: 20px;
    color: #5A537B;
}

.info-box p {
    font-size: 14px;
    color: #353535;
}