html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    background-color: #f5f5f5;
}

#app {
    max-width: 375px;
    margin: 30px auto;
    background-color: #ffffff;
}

/* app's header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

#logo {
    height: 35px;
}

#user-avatar {
    height: 35px;
    border-radius: 50%;
}

/* post section */
.post-container {
    border-top: 1px solid #c6c6c6;
}
.post-header {
    padding: 10px;
}
.post-avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.post-image {
    width: 100%;
    height: auto;
}
.post-header {
    display: flex;
    align-items: center;
    gap: 7px;
}
.post-bottom-section {
    padding: 20px 15px 15px 10px;
}
.bold-text {
    font-weight: bold;
}
.post-author-name, .post-caption, .post-likes {
    font-size: 13px;
    margin: 0;
    
}
.post-location {
    font-size: 12px;
    margin: 0;
}
.post-likes {
    margin: 12px 0;
}
.post-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}