body {
    display: flex;
    justify-content:center;

    margin: 0;
    font-family: 'Verdana', sans-serif;
    background-color: #1B244A;
    color: #EEEEEE;
    text-align: center;
}

.container {
    display: flex;
    justify-content:center;
}

.side {
    margin: auto 50px;
}

h3 {
    font-size: 40px;
    margin-bottom: 20px;
}

.score-lcd {
    /* display: flex; */
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 8px;
    width: 155px;
    height: 120px;
}

.score-lcd, .overlay {
  grid-area: 1 / 1;
}

.score {
    white-space: pre;
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #F94F6D;
    font-size: 70px;
    margin: auto;
}

.score-leading-zeros {
    color: #2b0e13;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.inc-button {
    margin-top: 25px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: transparent;
    color: #9AABD8;
    border: solid 2px #9AABD8;
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

button:hover {
    background: #9AABD855;
}

button:active {
    transform: scale(0.99);
}